@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

:root {
--cor0: hsl(300, 43%, 22%);
--cor1: hsl(333, 80%, 67%);
--cor2: hsl(303, 10%, 53%);
--cor3: hsl(300, 24%, 96%);
--cor4: hsl(0, 0%, 100%);
--cor5: hsl(228, 45%, 44%);
--fonte-padrao: 'League Spartan', sans-serif;
--fonte-sistema: Arial, Verdana, Helvetica, sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 15px;
  font-family: var(--fonte-padrao);
}

main {
  padding: 50px;
}

h1 {
  color: var(--cor0);
  font-weight: 700;
}

.column-container {
  display: flex;
  align-items: flex-between;
}

.colunas {
  columns: 2;
}

/* Esses 2 seletores estavam no HTML */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: var(--cor5);
}